@media (min-width: 0) {
  #feature {
    background-color: #fbfbfb;
    .container {
      display: flex;
      flex-direction: column;
      .img__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      .copy__container {
        text-align: center;
        .center-y {
          position: relative;
          top: 0%;
          transform: translateY(0%);
          margin: 20px auto 0;
          width: 80%;
        }
        h2 {
          margin-bottom: 12px;
          font-weight: 300;
          font-size: 30px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          color: #3a3a3a;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #feature {
    .container {
      flex-direction: row; //
      .copy__container {
        text-align: left; //
        .center-y {
          margin: 0px auto 0; //
          h2 {
            font-size: 35px; //
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  #feature {
    .container {
      .copy__container {
        .center-y {
          top: 50%; //
          transform: translateY(-50%); //
          h2 {
            font-size: 35px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #feature {
    .container {
      .copy__container {
        .center-y {
          h2 {
            font-size: 50px; //
          }
        }
      }
    }
  }
}
