#map {
  padding-top: 0;
  padding-bottom: 0;
  .map-container {
    height: 500px;
    .mapouter {
      position: relative;
      text-align: center;
      width: 100%;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      width: 100%;
      a {
        display: none;
      }
    }
  }
}
