// * top-nav *
.navbar {
  font-family: 'SF Pro Display', sans-serif;
  background: white;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.3s ease; //
  .navbar__wrapper {
    height: 100%;
    .navbar__container {
      height: 100%;
      max-width: 1200px;
      padding: 15px 60px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo__container {
        img {
          height: 35px;
          vertical-align: middle;
          margin: 0 10px;
        }
      }
      .top-nav__list {
        display: flex;
        li {
          margin: 0 20px;
          position: relative;
          .top-nav__link {
            color: $main-color;
            font-size: 15px;
            letter-spacing: 0.7px;
            font-weight: 400;
          }
          .cta {
            background-color: $main-color;
            border: 1px solid transparent;
            border-radius: 2px;
            color: white;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 2px;
            padding: 10px 20px;
            text-transform: uppercase;
            transition: all 0.7s ease;
          }
          .cta:hover {
            background-color: transparent;
            color: $main-color;
            border: 1px solid $main-color;
          }
        }
      }
    }
  }
}
.navbar.hide {
  top: -80px;
}

// * mobile menu list *
@media screen and (max-width: 990px) {
  .navbar {
    .navbar__wrapper {
      .navbar__container {
        padding: 15px 20px;
        opacity: 0.95;
        .logo__wrapper {
          .logo__container {
            img {
              width: 30px;
            }
          }
        }
        .top-nav {
          .top-nav__mobile-toggle {
            display: block;
          }
          .top-nav__list__wrapper {
            right: -230px;
            width: 220px;
            position: fixed;
            top: 140px;
            transition: all 0.4s ease-in-out;
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
            .top-nav__list__container {
              background: white;
              height: 100%;
              position: relative;
              width: 100%;
              .top-nav__list {
                margin: 0 10px;
                flex-direction: column;
                padding: 40px 25px 50px;
                li {
                  padding-top: 20px;
                  position: relative;
                  width: max-content;
                  &:first-of-type {
                    padding-top: 0;
                  }
                  &:last-of-type {
                    padding-top: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .navbar.open {
    .navbar__wrapper {
      .navbar__container {
        .top-nav {
          .top-nav__list__wrapper {
            right: 0;
          }
        }
      }
    }
  }
}

// * decrease logo size *
@media screen and (max-width: 320px) {
  // .logo__container {
  //   width: 200px;
  // }
}

// * hamburger *
.top-nav__mobile-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: calc(calc(100% / 2) - 12px);
}
.top-nav__hamburger {
  height: 24px;
  position: relative;
  width: 24px;
  cursor: pointer;
  span {
    background: $main-color;
    height: 2px;
    position: absolute;
    right: 0;
    transition: all 0.1s ease-out;
    transition-delay: 0.3s;
    &:nth-child(1) {
      top: 0;
      width: 100%;
    }
    &:nth-child(2) {
      top: calc(50% - 2px);
      width: 50%;
    }
    &:nth-child(3) {
      top: calc(100% - 3px);
      width: 75%;
    }
  }
}
.open .top-nav__hamburger {
  & span:nth-child(1) {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  & span:nth-child(2) {
    opacity: 0;
  }
  & span:nth-child(3) {
    top: calc(50% - 1px);
    transform: rotate(45deg);
    width: 100%;
  }
}

// * nav link hover animation *
.top-nav__link:not(.cta)::after {
  background: currentColor;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  transition: transform, width 0.2s ease-in-out;
  width: 0%;
}
.top-nav__link:not(.cta):hover::after {
  width: 100%;
}
